body {
  background-color: rgb(223, 236, 245);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(51, 16, 71);
  margin: 0 10vw;
  padding: 2rem;
}

input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
  text-align: center;
}

nav a {
  margin: 1.5rem;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

tr th {
  background: rgb(224, 195, 97);
  border-bottom: 2px rgb(235, 155, 135) solid;
  padding: 0.79em;
  color: rgb(16, 65, 99);
}

tr td {
  border: 2px rgba(112, 177, 214, 0.507) dotted;
  background: rgb(216, 245, 247);
  padding: 0.5em;
}

#exercises {
  margin: 2rem;
}